.settings-body .title{
    margin-top: 0;
}

app-title div.title{
    margin: 0;
    font-size: 4.25em;
    font-weight: bold;
}

app-title div.shrunk{
    font-size: 4.00em;
    font-weight: normal;
}