:root {
    --burnt-yellow-bg-color: hsl(40, 100%, 55%);
    --almost-neon-green-bg-color: hsl(135, 100%, 50%);
    --almost-neon-green-bg-img: linear-gradient(hsl(135, 100%, 75%), hsl(135, 100%, 50%));
  }


.app-icon.tips {
    background-color: yellowgreen; /* For browsers that do not support gradients */
    background-image: linear-gradient(#ffb200, #ffe600); /* Standard syntax (must be last) */
}

.app-icon.podcasts {
    background-color: hsl(270, 100%, 50%);
    background-image: linear-gradient(hsl(270, 100%, 70%), hsl(270, 100%, 60%), hsl(270, 100%, 50%));
}


.app-icon.find-my {
    background-color: lightgrey;
}

.app-icon.shortcuts {
    background-color: #000066;
}


/*row 2*/

.app-icon.contacts {
    background-color: lightgrey;
}

.app-icon.files {
    background-color: white;
}

.app-icon.watch {
    background-color: black;
}

.app-icon.utilities {
    background-color: rgba(255, 255, 255, 0.4); /* need to make this available as a global names style/color .less .sass...*/
}

/* row 3 */
.app-icon.apple-store {
    background-color: white;
}

.app-icon.clips {
    background-color: white;
}

.app-icon.garage-band {
    background-color: orange;
    background-image: linear-gradient(red, orange);
}

.app-icon.keynote {
    /*background-color: blue;*/
    /*background-image: linear-gradient(hsl(210, 100%, 80%), hsl(210, 100%, 40%));*/
    background-image: linear-gradient(cyan, dodgerblue, royalblue);

}

/* row 4 */
.app-icon.numbers {
    background-color: var(--almost-neon-green-bg-color);
    background-image: var(--almost-neon-green-bg-img);
}

.app-icon.pages, .app-icon.i-tunes-u {
    background-color: var(--burnt-yellow-bg-color);
}

.app-icon.i-movie {
    background-color: #000066;
    background-image: linear-gradient(hsl(240, 100%, 20%), hsl(270, 100%, 55%));
}

/* row 5 */

.app-icon.audible {
    background-color: var(--burnt-yellow-bg-color);
}

.app-icon.bose-connect {
    background-color: white;
}

.app-icon.hangouts {
    background-color: white;
}

.app-icon.i-heart-radio {
    background-color: hsl(0, 100%, 35%);
}

/* row 6 */
.app-icon.messenger {
    background-color: white;
}

.app-icon.uber {
    background-color: black;
}

.app-icon.you-tube-music {
    background-color: white;
}

.app-icon.rush {
    background-color: black;
    background-image: linear-gradient(black, turquoise);
}

/* often used icons */
.app-icon.make-call {
    background-color: var(--almost-neon-green-bg-color);
    background-image: var(--almost-neon-green-bg-img);
}

.app-icon.safari-browser {
    background-color: white;
}

.app-icon.i-message {
    background-color: var(--almost-neon-green-bg-color);
    background-image: var(--almost-neon-green-bg-img);
}