:root{
    --unread-indicator-color:dodgerblue;
    --unread-indicator-size: 1.5em;
}


.mail-message hr{
    border: 1px solid var(--mail-app-search-color);
    margin-top: 1.8em;
    margin-bottom: 1.2em;
    margin-right: -1rem;
}


.message-preview-content{
    /*background-color: red;*/
    padding-left:5%;
}

.unread{
    background-color:var(--unread-indicator-color);
    width:var(--unread-indicator-size);
    height:var(--unread-indicator-size);
    border-radius: 100%;
    margin-left:-5%;
    margin-right: 3%;
    display: inline-block;
}

.message-preview-content .from{
    color: white;
    font-size: 2.5em;
    /*font-weight: semi-bold;*/
}

.when-and-expander{
    color:rgba(100,100,100,0.9);
    display: inline-block;
    font-size: 2.2em;
    position: absolute;
    right:1em;
}

.when{

}

.expander{
    font-size: 1.2em;
    display: inline-block;
    margin-left: 0.5em;
}


.subject{
    color:white;
    font-size: 2.0em;
    padding-left:0.4em;
}

.email-content-preview{
    color:rgba(100,100,100,0.9);
    /*background-color: red;*/
    font-size: 2.0em;
    padding-left:0.4em;
    text-overflow: ellipsis;
}

div.foo {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
