:root {
    --play-btn-size: 8.5rem;
}
.play-pause-btn{
    width:var(--play-btn-size);
    height:var(--play-btn-size);
    border: none;
    border-radius: 100%;
    color: #a67d84;
    background-color: white;
}

button i.fa-play, i.fa-pause{
    color: #a67d84;
}
