:root {
    --left-right-key-padding: 0.5em;
    --keyboard-row-2-padding: 2em;
}
#on-scrn-kbd-app-modal {
    bottom: 0;
    left:0;
    right:0;

    position: relative;
}

.hidden{
    /*transition: all 1s;*/
}

.small{
    fontSize: 0;
    /*position:absolute;*/
}



.modal-debug-css, .app-modal-container{
    /*border-style: dashed;*/
    /*border-color: rebeccapurple;*/

    /*background-color: rgba(100,50,100,0.5);*/
    position: absolute;
    /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    /*those can be helpful for debug dev ui modal/app content etc*/
}

.keyboard {
    /*height:25em;*/
    width:100%;
    /*background-color: var(--dark-gray-transparent);*/
    background-color: rgb(75,75,75);
    bottom: 0;
    position: absolute;
}


.row{
    margin-top: 0.5em;
    text-align: center;
}

.row_1{

}

.row_2{
    /*padding-left: var(--keyboard-row-2-padding);*/
    /*padding-right: var(--keyboard-row-2-padding);*/
    /*text-align: center;*/
}
.row_3{

}

.key {
    text-align: center;
    background-color: rgb(135,135,135);
    color:white;
    border-radius: 10% 10%;
    padding-top: .2em;
    padding-bottom: 0.4em;
    margin:0.40rem;
    border: none;
    font-size:3em;
    width: 3.875rem;
    /*box-shadow: #888888;*/
    box-shadow: 0px 1px 1px #000000;
}

.key[keydisabled=true] {
    color:rgba(255,255,255, 0.0);
    box-shadow: none;
}

.function{
    background-color: rgba(255,255,255, 0.2);
    width:2.5em;
    font-size:2.00em;
    padding-top: .7em;
    padding-bottom: 0.9em;
    padding-left: 0.3em;
    text-align: center;
}

.upper-case{
    margin-right:0.85em;
}
.del{
    margin-left: 0.75em;
}

.space-bar{
    font-size:2.00em;
    padding-top: .7em;
    padding-bottom: 0.9em;
    padding-left: 0.3em;
    text-align: center;
    width: 9em;
    /*border-radius: 2.5% 2.5% 2.5% 2.5%;*/
    border-radius: 8px;
}

.search {
    background-color: rgba(255,255,255, 0.2);
    width:5em;

    font-size:2.00em;
    padding-top: .7em;
    padding-bottom: 0.9em;
    padding-left: 0.3em;
    text-align: center;
    border-radius: 5%;
}

.key-down {
    color: #ffb200;
    background-color: red;
}


.key.mic {
    /*background-color: rgba(255,255,255, 0.2);*/
    width: 3.75rem;
    font-size: 2.00em;
    padding-top: .7em;
    padding-bottom: 0.9em;
    padding-left: 0.3em;
    text-align: center;
}
