playback-controls .item11 { grid-area: favorite; }
playback-controls .item21 { grid-area: back;}
playback-controls .item31 { grid-area: play; }
playback-controls .item41{ grid-area: next; }
playback-controls .item51{ grid-area: circle-minus; }

playback-controls .item61{ grid-area: project; }
playback-controls .item71{ grid-area: void; }
playback-controls .item81{ grid-area: share; }

playback-controls .pgrid-container {
    display: grid;
    grid-template-areas:
            'favorite back play next circle-minus'
            'project void void void share';
    padding: 1px;
}

.vertical-container {
    position: relative;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

playback-controls .pgrid-container > div.center {
    text-align: center;
}

playback-controls .pgrid-container > div.right {
    text-align: right;
}

playback-controls .back-btn, play-pause-control, .forward {
    font-size: 2.25em;
}

i.far {
    font-size: 2.75rem;
    color: white;
}
i.fa-frown {
    color: rgba(255,255,255, 0.5);
    margin-left: 1rem; /* some fix, dont know why but was lining up a bit off */
}

i.fas {
    font-size: 3.5rem;
    color: white;
    color: rgba(255,255,255, 0.5);
}

i.fa-broadcast-tower, i.fa-external-link-alt{
    font-size: 1.75rem;
    margin-top: 3.5rem;
}

i.fa-external-link-alt{
    right:0;
}

i.fa-step-backward{
    right:25%
}


i.fa-step-forward{
    left:25%;
}
