:root {

}
.slide-modal-container.active{
    /*border-style: dashed;*/
    /*border-width: 2em;*/
    /*border-color: rebeccapurple;*/
    /*text-align: center;*/
    /*font-size: 3em;*/

    /*background-color: rgba(100,50,100,0.5);*/

    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    height:var(--body-height);
}
.slide-modal-container{
    transition: all 10.0s ease-out;
}
#slide-container {
    margin: 0px;
    padding: 0px;
    width: 750px;
    height: 100%; /* change to reference width of  app parent view else where*/
    overflow: hidden;
}

.slide-modal-box {
    position: absolute;
    left: 250%;
    margin-left: -50%;
    transition: all .5s;
    transition-timing-function: ease-in-out;
}

.slide-modal-focused-position {
    left:50%;
    /*transition: left .5s;*/
}

.slide-modal-left-transition {
    left: -50%;
    transition: left .5s;
}
