:root {
    --extra-light-grey: rgba(235, 235, 235, 1.0);
}

.settings-body {
    background-color: var(--extra-light-grey);
}

app-title {
    display: inline-block;
    margin-top: 7rem;
    transition: all;
}

.title-search {
    padding: 2.0em;
    top:0;
    z-index: 1000;
    position: absolute;
}

search-box{
    position: absolute;
}