.closed{
    transform: translateX(1000px);
    overflow:hidden;
}
.open{
    transform: translateX(10rem);
    overflow:visible;
}

.volume-external-buttons {
    position: relative;
    transition: all 1s;
    z-index: 1000;
}

flip-switch.reversed{
    transform: rotate(180deg);
}

div.external-buttons-container{
    position: absolute;
    margin-top: 40%;
}

