.closed{
    right: -50%;
}
.open{
    right:3%;
}

.volume-external-buttons {
    position: absolute;
    transition: all 1s;
    z-index: 1000;
}

flip-switch.reversed{
    transform: rotate(180deg);
}