.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1px;
    padding: 10px 30px 0px 30px;  /* top right bottom left*/
}
.grid-container > div {
     /*background-color: rgba(255, 255, 255, 0.8);   turn on off for seeing grid*/
    text-align: center;
    width: 170px;
}

.icon-text-name {
    overflow: visible;
    font-size: 1.55em;
    padding: 8px 0 14px 0;
    color: white;
}

.indicator-dots {
    height:3em;
    text-align: center;
    margin-top: .5em;
    margin-bottom: -0.6em;
}
.dot {
    height: 15px;
    width: 15px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    display: inline-block;
    margin: 1%;
}
.dot.active {
    background-color: rgba(255, 255, 255, 0.9);
}

.often-used-icons {
    background-color: rgba(255, 255, 255, 0.4);
    padding-top: 35px;
    padding-bottom: 35px;
}

.bottom {
    position: absolute;
    bottom: 56px;
    right:0;
  }