:root {
    --dark-gray-transparent: rgba(0,0,0, 0.3);
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    height: 1334px;
    position: relative;
    /*z-index: 1;*/
}

.container {
    width: 750px;
    height: 1334px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, blue, #666699, grey, lightblue, red, rgb(255, 192, 231), turquoise, turquoise); /* Standard syntax (must be last) */
    overflow: hidden;
}

.header {
    padding: 8px 10px 0px 10px;
    height: 2em;
    color: white;
    font-size: 1.5em;
    text-align: center;
}

.left {
    float: left;
}

.time {
    padding-left: 10%; /*hack alert*/
    padding-right: 25%; /*hack alert*/
}

.right {
    float: right;
}

.volume-external-buttons {
    position: absolute;
    left: 0;
    /*bottom: 0;*/
    margin-top:75%;
    height:20%;
}

.volume-external-buttons button {
    padding:0.5em;
    margin-left: 0;
    margin-bottom: 1em;
    font-size: 2em;
    border-radius: 30px;
    text-align: center;
    width:100%;
}

@media only screen and (max-width: 1000px) {
    .nav {
        background-color: lightblue;
        display: flex;
        left:auto;
        bottom: 0;

    }
}