
.some-class {
    border-style: dashed;
    border-width: 2em;
    border-color: rebeccapurple;
    text-align: center;
    font-size: 3em;

    background-color: rgba(100,50,100,0.5);

    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    height:var(--body-height);
    transition: all 1.0s ease-out;
}

.hidden{
    transition: all 1s;
}

