:root{
    --darker-gray:rgba(155,155,155,.125);
}

wifi-settings-view{
    /*background-color: black;*/
    width:100%;
    height:100%;
    display: block;
    margin-top: 0;
    /*padding-top: 3.5em;*/
}

wifi-settings-view div.title {
    font-size: 2em;
    display: flex;
    justify-content: center;
    width:100%;
    color:white;
    margin-bottom: 0.75em;
}

wifi-settings-view div.section.top{
    padding-top: 3.5em;
}

wifi-settings-view div.section{
    width:100%;
    background-color: var(--darker-gray);
    margin-bottom: 4em;
    border-top: 0.125em solid rgba(50,50,50,1.0);
    border-bottom: 0.125em solid rgba(50,50,50,1.0);
    /*border-width: 33px;*/
}

wifi-settings-view div.section hr {
    border-top:0.25em;
    border-color: rgba(50,50,50,1.0);
}

/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

wifi-settings-view .indicator-icons{
    margin-top: 1.5em;
}

div.wifi-switch {
    margin-left: 6em;
    color: white;
    font-size: 1.1250em;
    /*margin-top: 1em;*/
}

settings-section .grid-container > div {
    padding: 2px 0;
    font-size: 20px;
    margin:0em;
    width:100%;
}

div.wifi-switch div.title-wifi, div.title-wifi {
    color: white;
    font-size: 2em;
    font-weight: 500;
    line-height: 2.55em;
    display: inline-block;
}


span.networks {
    color: darkgrey;
    font-size: 1.575em;
}

wifi-settings-view div.networks-title-container{
    margin-left: 2em;
    margin-bottom: 1.25em;
    display: block;
    color: darkgrey;
    line-height: 3em;
/*    todo, used line height so kinda hacky solve this problem...*/
}

wifi-settings-view div.networks-title-container i{
    margin-left: 0.5em;
    /*margin-bottom: -1em;*/
    font-size: 2.375em;
}


wifi-settings-view flip-switch{
    margin-top: 0.75em;
    font-size: 1.125em;
}
